.headwrap {
	position: relative;
	width: 100%;
	height: 241px;
}

.headtext {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-weight: 600;
	font-size: xx-large;
	z-index: 0;
}

.headpicture img {
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 241px;
	z-index: -1;
}

.mainbody {
	width: auto;
	justify-content: center;
	overflow: visible;
	margin: 32px 10vw 128px 10vw;
}

.maintext {
	margin-top: 32px;
	text-align: left;
}

.downloadlinks {
	position: relative;
	top: 70%;
	font-size: larger;
	align-items: center;
	text-align: center;
}

.downloadlinks ul {
	display: flex;
	justify-content: center;
}

.downloadlinks ul li {
	width: 128px;
}

.downloadlinks ul li a {
	opacity: 0.75;
	font-weight: 400;
	transition: all 0.1s ease;
}

.downloadlinks ul li a:hover {
	font-weight: 600;
	opacity: 1;
	transition: all 0.1s ease;
}

.downloadlinks ul li a:active {
	color: #BFBFBF;
	font-weight: 600;
	transition: all 0.1s ease;
}

.downloadtable {
	width: 100%;
	margin-top: 16px;
	margin-bottom: 16px;
	border: 1px solid #FFFFFF3F;
	border-radius: 16px;
}

.downloadtable table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

.downloadtable thead {
	background-color: #232428;
	border-top-left-radius: 16px;
}

.downloadtable th, td {
	padding: 16px;
}

.downloadtable th:first-child  { width: 10%; border-top-left-radius: 16px; }
.downloadtable th:nth-child(2) { width: 35%; }
.downloadtable th:nth-child(3) { width: 10%; }
.downloadtable th:nth-child(4) { width: 15%; }
.downloadtable th:nth-child(5) { width: 15%; }
.downloadtable th:last-child   { width: 15%; border-top-right-radius: 16px; }

.downloadtable th:not(:last-child),
.downloadtable td:not(:last-child) {
	border-right: 1px solid #FFFFFF3F;
}

.downloadtable th,
.downloadtable tr:not(:last-child) {
	border-bottom: 1px solid #FFFFFF3F;
}

.downloadtable .material-icons {
	transition: all 0.1s ease;
}

.downloadtable .material-icons:hover {
	color: #AEC8F2;
	transition: all 0.1s ease;
}

.downloadtable .material-icons:active {
	color: #AEC8F2;
	transition: all 0.1s ease;
}
